.txtTittle{
    margin: 30px 0px;
    margin-left: -331px;
}
.addToDo{
    margin-left: 391px;
}
input#idTask {
    width: 392px;
}
.iconAdd{
    margin-right:5px;
}
.itemToDo{
    margin-top:30px;
    max-width: 530px !important;
}
/* .listToDo{
    border: 1px solid #dee2e6 !important;
  
} */
.listToDo td{
    text-align: left;
}
.group{
   margin-top:30px;
   margin-bottom: 10px;
   margin-left: 298px !important;
}
.content{
    display: inline;
    margin-left:5px;
    border: 1px solid;
    padding: 5px 5px;
}
.content .icon{
    color: white;
}
.bgBlue{
    background:#61DAFF;
}
.bgred{
    background: #EB615C;
}
.item_task {
    border: 1px solid #dee2e6;
    width: 107%;
}
